MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/katalyst?retryWrites=true&w=majority
JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:4173
EMAIL_USER=youremail@example.com
EMAIL_PASS=your-email-password
NODE_ENV=development
PORT=5000
